<?xml version="1.0" encoding="UTF-8"?>

<phpunit
	bootstrap="Tests/bootstrap.php"
	colors="true">

	<testsuites>
		<testsuite name="PierrreEncrypterBundle test suite">
			<directory>Tests</directory>
		</testsuite>
	</testsuites>
	
	<filter>
		<whitelist>
			<directory>.</directory>
			<exclude>
				<directory>Resources</directory>
				<directory>Tests</directory>
				<directory>vendor</directory>
			</exclude>
		</whitelist>
	</filter>
	
	<logging>
		<log type="coverage-html" target="Tests/coverage" />
	</logging>
</phpunit>
